@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Medium'), url('../assets/fonts/Montserrat-Medium.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Bold'), url('../assets/fonts/Montserrat-Bold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Black'), url('../assets/fonts/Montserrat-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

:root {
    --bg-color: #e4e0d7;
    --primary-color: #171718;
}

body {
    font-family: 'Montserrat-Black', sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-width: 300px;
    min-height: 450px;
    animation: 0.5s ease-out 0s 1 slideIn;

}

main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;

}

#profile-pic {
    height: 75px;
}

.link svg {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem 0 0;
}


.social-links a,
a:link,
a:visited,
a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.social-link {
    fill: var(--primary-color);
}

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


@keyframes slideIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }