@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-Bold'), url('../assets/fonts/Metropolis-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg-color: #171718;
  --primary-color: #e4e0d7;
  --primary-brighter: #efefef;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-weight: 700;
  scroll-behavior: smooth;
  transition: background-color 1s ease;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

svg {
  height: 2rem;
  width: 2rem;
}

.stage {
  z-index: -1;
}

.main section {
  flex-basis: calc(var(--vh, 1vh) * 100);
  flex-grow: 1;
  flex-shrink: 0;
  width: 90vw;
  scroll-snap-align: start;
}

.main .intro {
  font-family: 'Metropolis', sans-serif;
  display: flex;
  flex-direction: column;
}



.intro .name {
  font-size: 6em;
  margin: 5rem 0 0 0;
  line-height: 0.9;
}

.intro .title {
  font-size: 3em;
  line-height: 1;
}

.intro .arrow {
  margin: auto auto 0 auto;
  text-align: center;
  padding-bottom: 5px;
  animation: bounce 2s infinite;
}

.main .about {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
}

.about .text {
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  margin: auto auto 0 auto;
  width: 75%;
}

.about .details {
  display: flex;
  justify-content: center;
}

.details .container {
  display: flex;
  flex-direction: column;
}

.details .seperator {
  display: none;
  border-bottom: 3px solid;
  border-color: var(--primary-color);
  width: 50%;
  margin: 0.5rem auto auto 0;
  margin-bottom: 1rem;
}

.item .first-line {
  grid-area: first;
  align-self: flex-end;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.item .second-line {
  grid-area: second;
  align-self: flex-start;
  font-weight: 400;
  margin-top: 0.2rem;
}

.item .year {
  font-weight: 700;
  margin: auto auto auto 0;
  color: #fc464f;
}

.about .links {
  display: flex;
  flex-direction: row;
  margin: 3rem auto 1rem auto;
}

.links .link.social {
  margin: 0 1rem 0 0;
}

.links .link.social:last-child {
  margin: 0;
}

a:link,
a:visited,
a:hover,
.about-links a {
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.transition-visibility {
  transition: visibility 0.1s, opacity 0.1s linear;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.svg-path {
  fill: var(--primary-color);
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-25px);
  }

  60% {
    transform: translateY(-10px);
  }
}






/* ===== Breakpoints ===== */

/* Small Devices*/
@media only screen and (max-width: 600px) {
  .about {}

  .about .text {
    font-size: 1.2em;
    margin: 3rem auto;
  }

  .about .details {
    flex-direction: column;
    width: 85%;
    margin: auto 0;
    flex-wrap: nowrap;
  }

  .details .container {}

  .details .seperator {
    display: block;
    width: 100%;
    margin: 2rem 0;
  }

  .container .item {
    margin-bottom: 1rem;
    display: grid;
    gap: 0.3rem;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "year"
      "first"
      "second";
  }

  .container .item:last-child {
    margin-bottom: 0;
  }

  .item .first-line {
    font-size: 1em;
  }

  .item .second-line {
    font-size: 0.8em;
    margin-bottom: 1rem;
  }

  .item .year {
    font-size: 0.6em;
    font-weight: 400;
    width: 100%;
    transform: rotate(0deg);
  }

  .year .year-break {
    display: none;
  }

  .education.container,
  .experience.container {
    flex-basis: 10rem;
  }

  .about .links {
    scroll-snap-align: end;
  }
}


/* Base for wider devices */
@media only screen and (min-width: 601px) {
  .about {}

  .about .text {
    font-size: 2em;
  }

  .about .details {
    flex-direction: row;
    width: 100%;
    margin: auto 0;
    flex-wrap: nowrap;
  }

  .details .container {
    flex-basis: 30rem;
    justify-content: space-between;
  }

  .container .item {
    display: grid;
    grid-auto-rows: 2rem;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: start;
    grid-template-areas:
      "year first first first first"
      "year second second second second";
  }

  .item .first-line {
    font-size: 1em;
  }

  .item .second-line {
    font-size: 0.9em;
  }

  .item .first-line,
  .item .second-line {}

  .item .year {
    grid-area: year;
    font-size: 0.8em;
    width: 4rem;
    text-align: center;
    transform: rotate(270deg);
    align-content: flex-end;
  }

  .year .year-dash {
    display: none;
  }
}


/* Medium Devices */
@media only screen and (min-width: 768px) {
  .about .text {
    font-size: 2em;
  }
}


/* Large Screens*/
@media only screen and (min-width: 992px) {
  .about .text {
    font-size: 2.5em;
  }

  .item .first-line {
    font-size: 1.2em;
  }

  .item .second-line {
    font-size: 1em;
  }

  .item .year {
    font-size: 0.9em;
  }
}