@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-Bold'), url('../assets/fonts/Metropolis-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'), url('../assets/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg-color: #171718;
  --primary-color: #e4e0d7;
  --primary-brighter: #efefef;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-weight: 700;
  scroll-behavior: smooth;
  transition: background-color 1s ease;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

main section {
  flex-basis: calc(var(--vh, 1vh) * 100);
  flex-grow: 1;
  flex-shrink: 0;
  width: 90vw;
  scroll-snap-align: start;
}

svg {
  height: 2rem;
  width: 2rem;
}

.intro {
  font-family: 'Metropolis', sans-serif;
  display: flex;
  flex-direction: column;
}

.intro .stage {
  z-index: -1;
}

.intro .name {
  line-height: 0.9;
  font-size: 6rem;
  margin: 5rem 0 0 0;
}

.intro .title {
  margin: 8rem 0 1rem 0;
  font-size: 4rem;
  line-height: 1;
}

.intro .arrow {
  margin: auto auto 0 auto;
  text-align: center;
  padding-bottom: 5px;
  animation: bounce 2s infinite;
}

.about {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .text {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-top: 3rem;
  width: 75%;
}

.about .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto 0;
  flex-wrap: nowrap;
}

.details .container {
  display: flex;
  flex-basis: 30rem;
  flex-direction: column;
}

.details .seperator {
  display: none;
  border: 2px solid;
  border-color: var(--primary-color);
  width: 50%;
  margin: 0.5rem auto auto 0;
  margin-bottom: 1rem;
}

.grid .item {
  display: grid;
  grid-auto-rows: 2rem;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: start;
  grid-template-areas:
    "year first first first first"
    "year second second second second";
}

.item .first-line {
  grid-area: first;
  font-size: 1em;
  align-self: flex-end;
  font-weight: 700;
}

.item .second-line {
  grid-area: second;
  font-size: 0.9em;
  align-self: flex-start;
  font-weight: 400;
}

.item .first-line,
.item .second-line {
  justify-self: start;
}

.item .year {
  grid-area: year;
  font-size: 0.8em;
  font-weight: 700;
  width: 4rem;
  margin: auto auto auto 0;
  text-align: center;
  transform: rotate(270deg);
}

.about .links {
  display: flex;
  flex-direction: row;
  margin: auto auto 1rem auto;
}

.links .link.social {
  margin: 0 1rem 0 0;
}

a:link,
a:visited,
a:hover,
.about-links a {
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.transition-visibility {
  transition: visibility 0.1s, opacity 0.1s linear;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.svg-fill {
  fill: var(--primary-color);
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-25px);
  }

  60% {
    transform: translateY(-10px);
  }
}


/* ===== Breakpoints ===== */

@media only screen and (max-width: 600px) {
  .intro .name {
    font-size: 4rem;
  }

  .intro .title {
    font-size: 2rem;
  }

  .about .text {
    font-size: 1em;
    width: 85%;
    margin-top: 2rem;
  }

  .about .details {
    flex-direction: column;
  }

  .details .seperator {
    display: block;
    width: 100%;
    margin: 2rem 0;
  }

  .grid .item {
    display: flex;
    flex-direction: column;
    flex-basis: 4rem;
    align-items: flex-start;
    justify-items: flex-start;
  }

  .item .first-line {
    font-size: 0.9em;
    align-self: flex-start;
    justify-self: center;
  }

  .item .second-line {
    font-size: 0.8em;
    align-self: flex-start;
    justify-self: center;
  }

  .item .year {
    font-size: 0.7em;
    font-weight: 700;
    width: 100%;
    align-self: flex-start;
    justify-self: center;
    text-align: start;
    transform: rotate(0deg);
  }

  .year .year-break {
    display: none;
  }

  .education.container,
  .experience.container {
    flex-basis: 10rem;
  }
}

@media only screen and (min-width: 600px) {
  .year .year-dash {
    display: none;
  }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}